* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body,
  html {
    background-color: var(--background-color);
    color: var(--main-color);
    margin: 0;
    text-align: center;
  }

  /* navbar */
  :root {
    --background-color: #FEFFDE;
    --highlight-color: #DDFFBC;
    --selection-color:#91C788;
    --textselect-color:black;
    --main-color:#52734D;
  }
.nav{
    margin: 0;
    background-color:var(--highlight-color);
    color: var(--main-color);
    text-align: center;
}
.nav .navli:hover{
    background-color:var(--selection-color);
    color: var(--textselect-color);
}
.nav .navli{
    display: inline-block;
    padding:2%;
}
@media (max-width:600px){
    .nav{
        display:flex;
        flex-direction: column;
    }
}
/* navbar */