* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body,
  html {
    background-color: var(--background-color);
    color: var(--main-color);
    margin: 0;
    text-align: center;
  }

  /* navbar */
  :root {
    --background-color: #FEFFDE;
    --highlight-color: #DDFFBC;
    --selection-color:#91C788;
    --textselect-color:black;
    --main-color:#52734D;
  }
.nav{
    margin: 0;
    background-color:var(--highlight-color);
    color: var(--main-color);
    text-align: center;
    box-shadow: 1px 1px 2px;
}
.nav .navli:hover{
    background-color:var(--selection-color);
    color: var(--textselect-color);
    box-shadow: 1px 1px 5px;
}
.nav .navli{
    display: inline-block;
    padding:2%;
}
@media (max-width:600px){
    .nav{
        display:flex;
        flex-direction: column;
    }
}
/* navbar */

/* body */
.body{
  margin:0% 2%;
}

/* counter */
.counter-div{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.counter{
  width: 200px;
  height: 200px;
  margin: 2%;
  background-color: var(--highlight-color);
  border-radius: 50%;
  box-shadow: 1px 1px 5px var(--main-color);
  font: bold 15px/13px Helvetica, Verdana, Tahoma;
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center; 
  justify-content: center;
}
/* counter */

/* cards */
.card-deck {
  display: inline-flex;
  justify-content: space-between;
}
.card{
  color: var(--main-color);
  background-color: var(--highlight-color);
  margin: 2%;
  padding: 2%;
  box-shadow: 1px 1px 2px;
}
.card:hover {
  box-shadow: 1px 1px 5px;
  color: var(--textselect-color);
}
/* cards */
/* footer */
.footer{
    background-color:var(--highlight-color);
    color: var(--main-color);
    text-align: center;
    width: 100%;
    box-shadow: 1px 1px 2px;
    bottom: 0%;
    position: fixed;
}
/* footer */